################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AAXURLHelper/bin
/AAXURLHelper/*.xml
/AAXURLHelper/*.log
/.vs/DeepLinkHelper/v17
/AAXURLHelper/Projects/AAXURLHelper/.vs/AAXURLHelper
